<nav class="navbar">
  <div class="navbar-wrapper">
    <div class="logo">
      <a href="../index.html">
        <img src="../assets/images/logo.png" alt="Swarnadipa Logo" class="logo-img" />
      </a>
    </div>

    <button class="menu-toggle" id="menuToggle">
      <span></span><span></span><span></span>
    </button>

    <ul class="nav-menu" id="navMenu">
      <li><a href="../index.html" id="nav-home">HOME</a></li>
      <li><a href="company.html" id="nav-company">COMPANY</a></li>
      <li><a href="solution.html" id="nav-solution">SOLUTION</a></li>
      <li class="nav-dropdown">
        <a href="product.html" id="nav-product">PRODUCT & DATASHEET</a>
        <ul class="dropdown-menu" id="dynamicBrandDropdown">
          <li class="loading-dropdown"><a href="#">Loading brands...</a></li>
        </ul>
      </li>
      <li><a href="references.html" id="nav-portfolio">PORTFOLIO</a></li>
      <li><a href="our-stock.html" id="nav-stock">OUR STOCK</a></li>
    </ul>

    <div class="where-to-buy">
      <a href="where-to-buy.html">Contact Us</a>
    </div>
  </div>
</nav>